@model IEnumerable<MagicVilla.Web.Models.Villa.VillaDTO>
<br />

<div class="container p-4 border">
    <div class="row pb-2">
        <div class="col">
            <h1 class="text-primary">Villa List</h1>
        </div>
        <div class="col text-end pt-1">
            <a asp-controller="Villa" asp-action="CreateVilla" class="btn btn-outline-primary"> <i class="bi bi-plus-square-fill"></i> Create new Villa</a>
        </div>
    </div>
    <table class="table">
        <thead>
            <tr>
                <th>Name</th>
                <th>Occupancy</th>
                <th>Rate</th>
                <th></th>

            </tr>

        </thead>
        <tbody>
            @foreach(var i in Model)
            {
                <tr>
                    <td>@i.Name</td>
                    <td>@i.Occupancy</td>
                    <td>@i.Rate.ToString("c")</td>
                    <td>
                        <a asp-controller="Villa" asp-action="UpdateVilla" class="btn btn-success"> <i class="bi bi-pencil-square"></i> </a>
                        <a asp-controller="Villa" asp-action="DeleteVilla" class="btn btn-danger"> <i class="bi bi-trash-fill"></i> </a>

                    </td>

                </tr>
            }
        </tbody>
    </table>

</div>